<!-- Apple-style Floating Navbar Ottimizzata -->
<div class="nav-wrapper">
    <nav class="navbar navbar-expand-md apple-navbar">
        <div class="container-fluid px-2">
            <ul class="navbar-nav" id="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#chi-sono">
                        <i class="fa-solid fa-user"></i>
                        <span>Chi sono</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#esperienza">
                        <i class="fa-solid fa-briefcase"></i>
                        <span>Esperienza</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#progetti">
                        <i class="fa-solid fa-code"></i>
                        <span>Progetti</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatti">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Contatti</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>